finder-ui/Connected Services/ReviewServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.10.202.77/ReviewService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfReview" />
  <xs:element name="GetUnhandledReviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnhandledReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfReview" minOccurs="0" name="GetUnhandledReviewsResult" nillable="true" type="q1:ArrayOfReviewData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DenyReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DenyReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByServiceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByServiceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfReview" minOccurs="0" name="GetReviewsByServiceIdResult" nillable="true" type="q2:ArrayOfReviewData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByAboutUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByAboutUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfReview" minOccurs="0" name="GetReviewsByAboutUserIdResult" nillable="true" type="q3:ArrayOfReviewData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfReview" minOccurs="0" name="GetReviewsByUserIdResult" nillable="true" type="q4:ArrayOfReviewData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfReview" minOccurs="0" name="recension" nillable="true" type="q5:Reviews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>