finder-ui/Connected Services/ReviewServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfReview" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfReview" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReviewData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewData" nillable="true" type="tns:ReviewData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReviewData" nillable="true" type="tns:ArrayOfReviewData" />
  <xs:complexType name="ReviewData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AboutUserId" type="xs:int" />
      <xs:element minOccurs="0" name="ByUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewData" nillable="true" type="tns:ReviewData" />
  <xs:complexType name="Reviews">
    <xs:sequence>
      <xs:element minOccurs="0" name="AboutUserId" type="xs:int" />
      <xs:element minOccurs="0" name="ByUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reviews" nillable="true" type="tns:Reviews" />
</xs:schema>